@import 'tailwindcss';
body {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.active {
  background-color: #e7fafe;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 10px;
}

.line-height-normal {
  line-height: normal;
}

.lobster-style {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-border {
  border-bottom: 1px solid;
}

.top-container {
  margin: 40px 80px;
}

.time-btn {
  background-color: #f2f2f2;
}

/* Nutrition Information Table */

.nutrition-table tr {
  border-bottom: 1px solid;
}

.nutrition-table td:nth-child(even) {
  text-align: end;
}

/* Radio Style */

.rad-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.rad-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.rad-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.rad-container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.rad-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.rad-container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* @media (min-width: 1024px) {
    .mas-group {
        background-image: url('images/Mask Group.png');
        background-size: 100% 100%;
    }
} */
